<div class="pv4">
  <div class="ph3 mw7 center header-text-low">
    <h2 class="f2 b lh-title mb2 tc">{{.process.heading}}</h2>
    <p class="mb4 mw6 center tc">{{.process.text}}</p>

    <div class="flex-ns mhn2-ns mb3 mw6 center">
      {{ range .icons }}
      <div class="ph2-ns w-50-ns tc hideme">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 25%">
        <p class="b mb1">{{.heading}}</p>
        <p class="f6">{{.text}}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
