<div class="mb2 pv4 pv1-l pv3-ns z-3 home-intro" style="position:relative;">
  <div class="ph3 mw7 center">
    <a name="finding"></a>
    <h2 class="f2 b lh-title mb2 tc center intro2">{{.intro.heading}}</h2>
    <p class="mb4 mw6 tc center intro3">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3 intro4">
      {{ range .icons }}
      <div class="ph3-ns w-33-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width:25%; max-width:150px;">
        <p class="b tc mb1">{{.heading}}</p>
        <p class="tc f6">{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tc hideme">
      <a href="/about" class="btn raise">Learn more »</a>
    </div>
  </div>
</div>
