<!-- Contact -->
<div class="mb4 pv2">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form name="contact_form" method="POST" data-netlify="true">
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="w-50-l pr1-l">
        <fieldset>
          <input type="text" name="name" id="name" placeholder="Name" class="w-100 mb2" required>
          <label for="name">Name</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="w-50-l">
        <fieldset>
          <input type="email" name="email" id="email" placeholder="Email" class="w-100 mb2" required>
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="message" placeholder="Your message" rows="8" cols="80" id="message" class="w-100" required></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
