<footer class="bg-black ph3 pv4 white intro-footer">

	<div class="mw8 center pt3">

		<div class="flex-ns justify-between">

			<div class="mb2">
				<p class="b mb1">Hexagon Bio</p>
				<p class="f6 mb1">1505 Adams Drive, Suite A<br />
				Menlo Park, CA 94025<br />
				info@hexagonbio.com</p>
			</div>


			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "http://twitter.com/@hexagonbio" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/hexagon-bio" "svg" "icons-linkedin") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg-alt" . }}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-101931675-1', 'auto');
  ga('send', 'pageview');
</script>