<img src="{{.imageUrl}}" class="header-image-sm">
<div class="pv5 pv6-l ph5 header-text-sm ml">
  <div class="mw8 center">
    <div class="db mb3">
      <div class="intro1 w-100">
        <div class="mw7 relative mb3">
          <h1 class="f1 f1-l f2-m f1-ns b di lh-title mb3">
            {{.title}}
          </h1>
        </div>
      </div>
      <div class="mw7 relative bg-fix-secondary mb3 intro2B">
        {{ if .subtitle }}
        <p class="f4 di lh-title mb3 black mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
      <div class="mw7 relative bg-fix-secondary mb4 intro3B">
        {{ if .intro }}
        <p class="di mb3 black mw6">
          {{.intro}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
