<img src="{{.imageUrl}}" class="header-image">
<div>
  <div class="pt5 pt6-l ph4 home-header-text">
    <div class="mw8 center ph4">
      <div class="db mb3">
        <div class="intro1 w-100">
          <div class="mw7 relative bg-fix-primary mb3 bo">
            <h1 class="f3 f1-l f2-m f1-ns lh-title mb3" id="home-jumbo-text">
              <!-- {{.title}} -->
              We use <strong>data science</strong> and <strong>synthetic biology</strong> to turn the world's DNA into new medicines.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tc pv2">
    <div id="scroll">
      <a href="#finding"><img src="img/icon_scroll.png" class="animate-flicker" style="max-width:1.6rem;" /></a>
    </div>
  </div>
</div>
