<img src="{{.imageUrl}}" class="header-image">
<div>
  <div class="pt5 pt6-ns ph4 home-header-text">
    <div class="mw7 center ph4">
      <div class="db mb3">
        <div class="intro1 w-100">
          <div class="mw6 relative bg-fix-primary mb3 bo">
            <h1 class="f3 f1-ns lh-title mb3 ml3" id="home-jumbo-text">
              <strong>{{.title}}</strong>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tc pv2">
    <div id="scroll">
      <a href="#finding"><img src="img/icon_scroll.png" class="animate-flicker" style="max-width:1.6rem;" /></a>
    </div>
  </div>
</div>
