<div class="pv4 intro-body" style="margin-top:-10%">
	<div class="mw8 center ml">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>

		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range first 2 .bios }}
				<div class="w-50-ns w-33-l mb4 ph3-ns" style="padding-left:0;">
					<img src="{{ .image }}" alt="" class="db mb3" style="width:75%">
					<p class="f4 b mb1">{{ .name }}</p>
					<p class="f6 mb1">{{ .title }}</p>
					<p class="mb0">{{ .text }}</p>
					<p>{{ partial "social-icon-alt" (dict "link" .link "svg" "icons-profile") }}</p>
				</div>
			{{ end }}
		</div>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range after 2 .bios }}
				<div class="w-50-ns w-33-l mb4 ph3-ns" style="padding-left:0;">
					<img src="{{ .image }}" alt="" class="db mb3" style="width:75%">
					<p class="f4 b mb1">{{ .name }}</p>
					<p class="f6 mb1">{{ .title }}</p>
					<p class="mb0">{{ .text }}</p>
					<p>{{ partial "social-icon-alt" (dict "link" .link "svg" "icons-profile") }}</p>
				</div>
			{{ end }}
		</div>
		<p class="f5">→ Meet our team on <a href="https://www.linkedin.com/company/hexagon-bio/people/" target="_blank">LinkedIn</a>.</p>
	</div>
</div>
