<div class="pv1 mb4">
	<div class="ph3 mw7 center header-text-sm">

		<h2 class="f2 b lh-title mb3 ph3 tr hideme">News</h1>

		<div class="w-80 flex-ns mhn1-ns flex-wrap mb3" style="margin-left:auto">
			{{ range first 4 (where .Site.Pages "Type" "news") }}
				{{ if ne .Title "News"}}
				<div class="w-100-ns flex tr">
					{{ .Render "li-news-sm" }}
				</div>
				{{ end }}
			{{ end }}
		</div>

		<div class="tr ph3 mb2">
			<div class="hideme">
				<a href="/news" class="btn raise">More news »</a>
			</div>
		</div>

	</div>
</div>
