<div class="pv4 mb3">
	<div class="ph3 mw7 center header-text-sm">

		<h2 class="f2 b lh-title mb3 tr hideme ml">{{.heading}}</h2>

		<div class="w-70 flex-ns mhn1-ns flex-wrap mb3" style="margin-left:auto">
			{{ range .items }}
				<div class="w-100-ns flex tr hideme">
					
					<a href="{{ .link }}" target="_blank" class="no-underline pv3 br1 mb2 db raise w-100">
						<h2 class="f3 b lh-title mb1 primary">{{ .title }}</h2>
						<p class="mb0 mw8 f6"><em>{{ .pub }}.</em> {{ .Date.Format "Jan 2, 2006" }}</p>
						<p class="mb1 mw8 f6">{{ .description }}</p>
						<p class="link b dib black mb0">View publication →</p>
					</a>

				</div>
			{{ end }}
		</div>

	</div>
</div>