<div class="pv4 intro-body">
	<div class="ph3 mw7 center">
		<div class="mw6 mb4 tc center">
			<h2 class="f2 b lh-title mb2">{{.approach.main}}</h2>
			<h4>{{.approach.intro}}</h4>
		</div>

		<div class="flex-ns mhn2-ns mb3 mw6 center">
	      {{ range .icons }}
	      <div class="ph2-ns w-50-ns tc hideme">
	        <img src="{{.image}}" alt="" class="center db mb3" style="width: 25%; max-width:150px;">
	        <p class="b mb1">{{.heading}}</p>
	        <p class="f6">{{.text}}</p>
	      </div>
	      {{ end }}
	    </div>
	    <div class="mw6 mb4 tc center">
	    	<p class="f4 b lh-title mb2 hideme">{{.approach.heading}}</h2>
	    	<p class="f6 hideme">{{.approach.text}}</p>
	    </div>
		

		<!-- <div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div> -->

	</div>
</div>
