<div class="pv4">
	<div class="ph3 mw7 center">
		<div class="mw6 mb4 tc center">
			<h2 class="f2 b lh-title mb2">{{.title}}</h2>
			<h4>{{.intro}}</h4>
		</div>
		<div class="mw6 center flex-l mhn2-l">
			<div class="w-50-l ph2-l">
				<p class="f4 b lh-title mb2">{{.heading}}</h2>

				<p class="f6">{{.text}}</p>
			</div>

			<div class="w-50-l ph2-l">
				<img src="{{.image}}" alt="" class="mb3">
			</div>
		</div>

		<!-- <div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div> -->

	</div>
</div>
