{{ define "main" }}

{{ partial "hero-sm" (dict "imageUrl" "/img/jobs-right.png" "title" "Grow with us" "subtitle" "We are a team of world experts in our fields and are developing the next generation of medicines for human diseases. We are seeking talented, purpose-driven bioinformaticians, cell and molecular biologists, fungal geneticists, chemists, biochemists, engineers and drug hunters to join us.") }}


<div class="ph5 ml">
	<div class="mw8 center">
		<div class="mw7 mb5 ml intro-body bg-grey-1" style="margin-top:-10%">
			<!-- <p class="f6 b mb1">OPEN POSITIONS</p>
			<hr style="border-style: dashed; border-color:grey;" />
		  <ul class="flex-ns flex-wrap">
		      {{ range .Pages.ByPublishDate.Reverse }}
		          <div class="w-100-ns flex">
		            {{ .Render "li-jobs"}}
		          </div>
		      {{ end }}
		  </ul> -->
		  <div id="grnhse_app"></div>

		</div>
	</div>
</div>

<script src="https://boards.greenhouse.io/embed/job_board/js?for=hexagonbio"></script>

{{end}}
